.alert-create{
    .ant-select-selection__rendered{
        // margin-left: 100px;
        // margin-right:100px;
        text-align: center;
        // margin-left: 35%;
    }
    .alert-item{
        width: 20%;
        margin-left: 15px;
        &__title{
            display: inline-block;
        }
    }
    .btn-control{
        a{
            margin-right: 10px;
        }
    }
}