
////// PRODUCTS SCSS//////

@import "../../share/scss/pagination.scss";
@import "../../share/scss/main_reset.scss";

.product-page-list {
    margin-top: 20px;
}
//PRODUCT ITEM PAGE
.product-page-item {
    min-height: 400px;
    margin-bottom: 30px;
    .fl-right {
        float: right;
    }
    .product-img {
        height: 200px;
        object-fit: cover;
    }
    .product-name{
        font-size: 15px;
        font-weight: bold;
        color: #00634f;
        margin-top: 20px;
    }
}

.product-list{margin-top: 30px;}

