.product-item-detail {
    margin-top: 50px;
    .tbl-product-detail thead {
        color: #00634f;
        font-weight: bold;
    }
}

.back-to-school {
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 5px 20px;
    display: inline-block;
}