.footer {
    text-align: center;
    padding-top: 20px;
    border-top: 2px dashed #ddd;
    .txt-sign {
        color: #00634f;
        font-size: 30px;
        font-family: 'Dancing Script', cursive;
    }
}